__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
notebook/
scripts/
venv/
.git
.gitignore
.github/


*.egg-info/
build/
dist/

*.log

*.db
*.sqlite3

.git
.gitignore
.gitattributes
.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db
.env
.venv
*.env
*.venv
tests/
pytest.ini
README.md
*.md
Dockerfile
.dockerignore
